.items2{
  
 padding: 10px;
 border-radius: 10px;
  
}
.items2:hover{
  background-color: #80808023
  
}
.items1{
  
 padding: 10px;
 border-radius: 10px;
  
}
.items1:hover{
  background-color: #80808023
  
}
.items3{
  
 padding: 10px;
 border-radius: 10px;
  
}
.items3:hover{
  background-color: #80808023
  
}
.items4{
  
 padding: 10px;
 border-radius: 10px;
  
}
.items4:hover{
  background-color: #80808023
  
}