.addTOCard{
    border: none;
    color: white;
    background-color:#917c0aea;
    padding: 10px;
    border-radius:5px;
}
.addTOCard:hover{
   
    background-color:#7a6903ea;
    
     
}
.cardPrice{
    color:#fd9115
}
 