.discount-section{
    background-image: url('https://img.freepik.com/free-photo/portrait-young-gorgeous-woman-dressed-jewelry-set-necklace-ring-bracelet-earrings-pretty-blue-eyed-model-is-demonstrating-attractive-makeup-manicure_353119-75.jpg?w=826' );

    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
}